.rhymes-title {
  text-align: center;
  color: #fff;
}

.rhymes {
  display: grid;
  width: 95vw;
  grid-template-columns: repeat(13, 1fr);
}

.rhymes-hidden {
  display: none;
}

@media screen and (max-width: 1280px) {
  .rhymes {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .rhymes {
    grid-template-columns: repeat(5, 1fr);
  }
}